@import 'utils/variables';
@import 'base';
@import 'components/common/container';
@import 'components/common/title';
@import 'components/common/text';
@import 'components/common/btn';
@import 'components/main/header';
@import 'components/main/hero';
@import 'components/main/modal';
@import 'components/main/about';
@import 'components/main/doing';
@import 'components/main/team';
@import 'components/main/regular-customers';
@import 'components/main/footer';
@import 'components/portfolio/portfolio';