/* footer */
.footer {
  background-color: rgba(47,48,58,1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list{
  text-align: center;
  // display: flex;
  // justify-content: right;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    > *:not(.footer__item--mail) {
      width: 50%;
      padding: 0 20px;
    }
  }
  
  @media screen and (min-width: $desktop) {
    align-items: flex-start;

    > *:not(.footer__item--mail) {
      width: calc(55% / 2);
      padding: 0 20px;
    }
  }
}

.footer__logo {
  color: $white-text;
}

.address__mail,
.address__tel {
  color: $contacts-footer-op06;
}

.address__text {
  color: $white-text;
  margin-top: 20px;
}
  

.address__mail {
  margin-top: 8px;
  display: block;
}

.address__tel {
  margin-top: 8px;
  display: block;
}

// .footer__action{
//   margin-left: 70px;
// }

.action__title {
  color: $white-text;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;

  @media screen and (min-width: $desktop) {
    margin-top: 20px;
    text-align: left;
  }
}

.footer__link, .footer__icon {
  // display: flex;
  // justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.footer__social-link {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-icon {
  fill: #fff;
  padding: 12px;
}

.footer__link:hover {
  background-color: $decoration-color;
}

.form__title {
  color: $white-text;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 60px;
}

.footer__form {
  // display: flex;
  flex-direction: column;
  // margin-left: 93px;
}

.form__input {
  background-color: rgba(33, 150, 243, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 358px;
  min-height: 50px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form__btn {
  position: relative;
  width: 200px;
  height: 50px;

  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px 29px;
  cursor: pointer;

  font-style: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: $white-text;
  background: $decoration-color;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.form__icon-end {
  position: absolute;
  right: 28px;
  top: 13px;
  width: 24px;
  height: 24px;
}

.footer__social-item {
  margin-bottom: 60px;
}

.footer__item {
  &--mail {
    padding: 20px;
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      width: 45%;
    }
  }
}