/* header  */
.header {
  background-color: #fff;
  min-height: 80px;
  border-bottom: 1px solid #ECECEC;
}

.logo {
  color: $part-logo;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__text--blue {
  color: $decoration-color;
}

.nav,
.nav__list,
.nav__contacts-list {
  display: flex;
  align-items: center;
}

.nav__list{
  margin-left: 43px;
}

.nav__link {
  color: $black-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: inline-block;
  margin-left: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: $decoration-color;
  }
}

.nav__contacts-list{
  margin-left: 281px;
}

.contacts-list__link {
  color: $grey-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-bottom: 25px;
  
  &:hover,
  &:focus {
    color: $decoration-color;
  }
}

 
.nav__icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.nav__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  margin-left: 30px;
  fill: currentColor;
}

.nav__link--active::after {
  position: absolute;
  bottom: -1px;
  right: 0;
  content: '';
  display: block;
  background: $decoration-color;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.nav__link--active {
  color: $decoration-color;
  position: relative;
} 