.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-height: 581px;
  min-width: 528px;

  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
  margin: 8px auto auto 490px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover{
  fill: $decoration-color;
}

.modal__main-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__form {
  margin: 2px 40px 40px 40px;
}

.modal__input {
  margin: 0;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
}


.modal__label {
  position: relative;
  display: block;
  text-align: left;
  margin-top: 10px;
  color: $grey-text;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.madal__text {
  display: block;
  margin-bottom: 4px;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
}

.modal__label:hover > .modal__icon {
  fill: $decoration-color; 
}

.modal__label:hover > .modal__input {
  border-color: $decoration-color;
  cursor: pointer;
}

.modal__input:focus {
  border-color: $decoration-color;
  cursor: pointer;
}

.modal__input:focus + .modal__icon {
  fill: $decoration-color; 
}

.modal__input-coment {
  margin: 0;
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-coment:hover {
  border-color: $decoration-color;
  cursor: pointer;
} 

.modal__input-coment:focus {
  border-color: $decoration-color;
  cursor: pointer;
} 

.modal__input-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  margin-top: 20px;
}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms linear;
  margin-bottom: 30px;
}

.checkbox__input:checked + .checkbox__icon {
  transform: scale(1.2);
  border-color: $decoration-color;
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.checkbox__text {
  transition: transform 250ms linear;
  color: rgba(117, 117, 117, 1);
  font-style: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.checkbox__text--underline {
  text-decoration: underline;
  color: $decoration-color;
}

.checkbox__send-btn {
  width: 200px;
  height: 50px;
  font-style: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  color: $white-text;
  background: $decoration-color;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}